@using System.Collections.ObjectModel;
@using EquimentManagement.Contracts.Responses;
@using EquipmentManagement.UI.Abstractions;
@inject IJournalService JournalService;
@inject NavigationManager Navigation;
@if (journal is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Тип
                </th>
                <th>
                    Сообщение
                </th>
                <th>
                    От
                </th>
                <th>
                    Дата
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in journal)
            {
                <tr>
                    <td>
                        @record.EventName
                    </td>
                    <td>
                        @record.Message
                    </td>
                    <td>
                        @record.Username
                    </td>
                    <td>
                        @record.DateCreated?.ToLocalTime().ToString("dd MMMM yyyy г. HH :mm")
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button class="btn btn-primary"
                    @onclick="NavigateToJournal">Посмотреть все</button>
                </td>
            </tr>
        </tfoot>
    </table>
}

@code {
    private ObservableCollection<JournalRecordResponse>? journal;

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        var response = await JournalService.GetAsync(10, 0);
        if (response is not null)
        {
            journal = new ObservableCollection<JournalRecordResponse>(response);
            journal.CollectionChanged += (sender, e) => StateHasChanged();            
        }
    }

    private void NavigateToJournal()
    {
        Navigation.NavigateTo(PagePaths.Journal.List);
    }
}
