<div class="spinner-border" role="status">  
    
</div>
<div class="container-fluid">
    <div class="align-content-center">
        <span class="text-center">Загрузка...</span>
    </div>
</div>


@code {

}
