@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="btn btn-primary" href="/auth/login/">Войти</NavLink>
                </NotAuthorized>
                <Authorized>
                    <NavLink class="btn btn-primary" href="/auth/logout/">Выйти</NavLink>
                </Authorized>
            </AuthorizeView>
            
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
