@using System.Security.Claims;
@inject AuthenticationStateProvider Provider;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">База оборудования</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/auth/login/">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Войти
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <div class="border-bottom border-dark shadow rounded-3">
                        <div class="px-3 mt-3">
                            <span class="text-light oi oi-person"></span>
                            <span class="text-light"> @user?.Identity?.Name</span>                           
                        </div>
                        <NavLink class="nav-link" href="/auth/logout/">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Выйти
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/employee/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Сотрудники
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/equipment/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Оборудование
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Пользователи
                    </NavLink>
                </div>
                <div class="nav-item p-2 ml-3">
                    <div class="p-4 border-2 border-top border-danger">
                        <span class="text-white">Опасная зона</span>
                    </div>
                    <NavLink class="nav-link" href="/dangerzone/equipment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Оборудование
                    </NavLink>
                    <NavLink class="nav-link" href="/dangerzone/employees">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Сотрудники
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private ClaimsPrincipal? user;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await RedrawUsername(AuthenticationState);
        Provider.AuthenticationStateChanged += async s => await RedrawUsername(s);
    }

    private async Task RedrawUsername(Task<AuthenticationState> authState)
    {        
        user = (await authState)?.User;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
