@attribute [Route(PagePaths.Equipment.EmployeeEquipment)]
@using EquimentManagement.Contracts.Responses;
@using System.Collections.ObjectModel;
@using EquipmentManagement.UI.Abstractions;
@using EquipmentManagement.UI.Shared.Tables
@inject IEmployeeService EmployeeService;
@attribute [Authorize]

@if (employee is not null)
{
    <h4>Оборудование сотрудника @employee.Lastname @employee.Firstname @employee.Patronymic</h4>
}
<EmployeeEquipmentTable EmployeeId="@EmployeeId"/>

@code {
    
    private EmployeeResponse? employee;
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public Guid EmployeeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();       
    }

    private async Task LoadDataAsync()
    {
        employee = await EmployeeService.GetByIdAsync(EmployeeId);        
    }
}
