@page "/Login"
<div class="container">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="align-content-center">
            <h3>Login</h3>
            <EditForm Model="@model">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <InputText class="form-control"></InputText>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <InputText type="password" class="form-control"></InputText>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>


@code {
    private readonly object model = new();
}
