@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<AuthorizeView Roles="Admin">
    <Authorized>
        <NavLink class="btn btn-primary" href="/auth/register/">Зарегистрировать нового пользователя</NavLink>
    </Authorized>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
