@page "/"
@using EquipmentManagement.UI.Shared.Tables

<PageTitle>Главная</PageTitle>

<div class="container-lg container-md">
    <div class="row">
        <div class="col-lg-6 col-md-6"></div>
        <div class="col-lg-6 col-md-6">
            <AuthorizeView>
                <h3 class="text-center">Журнал событий</h3>
                <Journal />
            </AuthorizeView>
        </div>
    </div>
</div>

@code {

}